/* Main style for stuff that isn't responsive and coherent across all pages */

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
#message {
    resize: none;
}

a:hover {
    color: #F0FF00;
}

a:active {
    color: #FF9700;
}

.siteHeader {
    font-family: 'Notable';
    background-color: #33E9FF;
    padding: 1.5em;   
    letter-spacing: 2px;
    word-spacing: 10px;
}

#logo {
    width: 10%;
}

.navPC {
    background-color: #1337FF;
    text-indent: 1em;
}

body {
    font-family: sans-serif;
    background-color: #FF7FF9;
    line-height: 1.6;
}

aside {
    background-color: #97FF00;
}

.asideImage {
    max-width: 20%;
    height: auto;
}

.siteFooter {
    background-color: #00FF64;
}

.cookieStatement {
    background-color: #FA0;
    opacity: 0.5;
    z-index: 9999;
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: 1.5em;
}

.navPC, aside, .siteHeader, .siteFooter, .cookieStatement {
    border-style: double;
    border-color: #000;
    border-width: 5px;
}

article {
    border-style: double;
    border-color: #000;
    border-width: 5px;
    background-color: #FF0008;
    padding: 1.5em;
}

.flexBody {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.hamburgerItems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.hamburger label {
    display: block;
    color: #FFF;
    font-style: normal;
    font-size: 1.2em;
}

.hamburgerItems, .hamburger input {
    display: none;
}

.hamburger input:checked ~ .hamburgerItems {
    display: block;
}

/* Main style for stuff that isn't responsive and on index.html */

.mainPagePhoto {
    max-width: 100%;
    height: auto;
}

.mainPageArticlesSection {
    flex-direction: column;
    padding: 0em;
}

.mainPageAsidePC, .mainPageAsideTM {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Main style for stuff that isn't responsive and on tickets.html */

tr:nth-child(even) {
    background: #E8FF00;
}

tr:nth-child(odd) {
    background: #FF0F00;
}

.ticketsTable {
    background-color: #123456;
    padding: 1.5em
}

/*PC Media Query*/
@media (min-width: 1280px){
    /*index.html*/    

    #videoMobile, .mainPageAsideTM, .hamburger {
        display: none;
    }
    
    .headerNav {
        flex-direction: column;
    }

    .mainPageArticlesSection {
        flex: 2;
    }

    .mainPageArticleSection article {
        flex-direction: column;
        flex: 1;

    }

    .mainPageArticleSection figure {
        flex: 2;
    }

}


/* Tablet Media Query */
@media (min-width: 551px) and (max-width: 1279px) {
    /*index.html*/

    #videoMobile, .navPC, .mainPageAsidePC {
        display: none;
    }
    
    .siteHeader {
        flex: 5
    }

    .mainPageArticleSection article {
        flex-direction: column;
        flex: 1;
        order: 2;
    }

    .mainPageArticleSection figure {
        flex: 2;
        order: 1;
    }

    #articleThree {
        order: 1;
    }

    #articleTwo {
        order: 2;
    }

    #articleOne {
        order: 3;
    }
}


/* Mobile Media Query */
@media (max-width: 550px) {
    /*index.html*/

    #videoPC {
        display: none;
    }

    .navPC {
        display: none;
    }

    .mainPageAsidePC {
        display: none;
    }

    .mainPageArticleSection {
        flex-direction: column;
    }

    .mainPageArticleSection article {
        flex-direction: column;
        flex: 1;
    }

    .mainPageArticleSection figure {
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    #articleThree {
        order: 1;
    }

    #articleTwo {
        order: 2;
    }

    #articleOne {
        order: 3;
    }

}